html {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 114px;
    background-color: $black;
}


.show { display: block; }


.hide { display: none }