$yellow: #ffd530;

$gray: #bfb8ab;

$dark-gray: #a7a7a7;

$black: #121212;

$white: #fefefe;

.yellow {
  color: $yellow;
}

.black {
  color: $black;
}

.gray {
  color: $gray;
}

.background-yellow {
  background-color: $yellow;
}

.background-black {
  background-color: $black;
}

.background-gray {
    background-color: $gray;
}