footer {
  background-color: $black;

  .footer-inner-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px 0;

    p {
      font-size: 0.58rem;
      line-height: 1.2rem;
      color: $yellow;
    }

    .quick-links {
      .quick-link {
        color: $gray;
      }
    }

    .national-gaurd-contact-info {
      text-align: center;
    }

    .social-media {
      text-align: center;

      div {
        display: flex;
        justify-content: space-between;
        width: 100%;

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    .footer-inner-wrapper {
      p {
        font-size: 1rem;
        line-height: 1.9rem;
      }
      .social-media {
        div {
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
