header {
  text-align: right;
  padding: 10px 20px;

  .social-media {
    div {
      img {
        width: 15px;
        height: 15px;
        margin: 0 10px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
