.testimonial-wrapper {
  padding: 20px 15px;

  .testimonial {
    margin: 0 auto 0 auto;
    max-width: 508px;

    .testimonial__video {
      position: relative;
      width: 100%;
      margin-bottom: 20px;

      .play-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;
      }

      .pause-icon {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 15px;
      }
    }

    .testimonial__info {
      text-align: justify;
    }
  }
}

@media (min-width: 768px) {
  .testimonial-wrapper {
    padding: 25px 15px;

    .testimonial {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      max-width: 1160px;

      .testimonial__video {
        width: 45%;
        margin-bottom: 0;
      }

      .testimonial__info {
        width: 45%;
        text-align: justify;
      }
    }
  }
}
