.yellow {
  color: #ffd530;
}

.black {
  color: #121212;
}

.gray {
  color: #bfb8ab;
}

.background-yellow {
  background-color: #ffd530;
}

.background-black {
  background-color: #121212;
}

.background-gray {
  background-color: #bfb8ab;
}

.background-trans {
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: "Halant", serif;
}

h2, h3, h4, h5, h6, p, button, span {
  font-family: "Nunito Sans", sans-serif;
}

.bold {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.link-reset {
  text-decoration: none;
}

html {
  width: 100vw;
  min-height: 100vh;
}

body {
  position: relative;
  min-height: 100%;
  padding-top: 114px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

button {
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-weight: bold;
}

.sm-btn {
  height: 46px;
}

.med-btn {
  height: 66px;
  font-size: 24px;
}

.lg-btn {
  height: 66px;
  font-size: 36px;
}

.email-btn {
  height: 35px;
  width: 250px;
}

.yellow-btn {
  background-color: #ffd530;
}

.black-btn {
  background-color: #121212;
}

header {
  text-align: right;
  max-width: 2000px;
  margin: 0 auto;
  padding: 10px 20px;
}
header .social-media div img {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
header .social-media div img:last-of-type {
  margin-right: 0;
}

@media (min-width: 768px) {
  header .social-media div img {
    width: 24px;
    height: 24px;
  }
}
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 3;
  background-color: #121212;
}

nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 2000px;
  height: 75px;
  margin: 0 auto;
  padding: 20px 20px;
  z-index: 3;
}
nav img {
  position: absolute;
  left: 15px;
  top: 0;
  width: 90px;
}
nav button {
  position: absolute;
  top: 50%;
  left: 125px;
  transform: translate(0, -50%);
}
nav h1 {
  position: absolute;
  top: 50%;
  left: 125px;
  transform: translate(0, -50%);
  color: #ffd530;
  font-size: 24px;
}
nav .drop-down .fa-bars {
  font-size: 35px;
}
nav .desktop-links {
  display: none;
}

.drop-down-overlay {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: calc(100vh - 114px);
  margin-top: 114px;
  padding: 40px 0 0 15px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.9);
}
.drop-down-overlay .drop-down__links .link {
  font-size: 32px;
  line-height: 70px;
  color: #fefefe;
}

@media (min-width: 768px) {
  nav .drop-down {
    display: none;
  }
  nav .desktop-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav .desktop-links .link {
    margin-right: 35px;
    font-size: 24px;
    color: #ffd530;
  }
  nav .desktop-links .link:last-of-type {
    margin-right: 0;
  }
}
footer {
  background-color: #121212;
}
footer .footer-inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 5px;
}
footer .footer-inner-wrapper p {
  font-size: 0.58rem;
  line-height: 1.2rem;
  color: #ffd530;
}
footer .footer-inner-wrapper .quick-links .quick-link {
  color: #bfb8ab;
}
footer .footer-inner-wrapper .national-gaurd-contact-info {
  text-align: center;
}
footer .footer-inner-wrapper .social-media {
  text-align: center;
}
footer .footer-inner-wrapper .social-media div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer-inner-wrapper .social-media div img {
  width: 15px;
  height: 15px;
}

.testimonial-wrapper {
  padding: 20px 15px;
}
.testimonial-wrapper .testimonial {
  margin-top: 20px;
}
.testimonial-wrapper .testimonial .testimonial__video {
  width: 100%;
  margin-bottom: 20px;
}
.testimonial-wrapper .testimonial .testimonial__info {
  text-align: justify;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding: 20px 15px;
  background-position: center;
  background-size: 100%;
  background-image: url("./images/benefits_bg.svg");
}
.benefits p {
  font-weight: bold;
  margin-bottom: 10px;
}

#grid {
  position: relative;
  width: 100%;
  margin: 20px auto;
  padding: 0;
  /* Clears unordered list default of 40px */
  transform: rotate(-90deg);
  overflow: hidden;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.8571428571%;
  padding: 0 0 32.1676014517% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  background: #fd005f;
  overflow: hidden;
  visibility: hidden;
}

#grid li * {
  visibility: visible;
}

#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
  background-position: center center;
  background-size: 100%;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}

#grid li:nth-child(6n+4),
#grid li:nth-child(6n+5),
#grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

#grid li:nth-child(6n+4) {
  margin-left: 0.5%;
}

.recruit-wrapper {
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
}
.recruit-wrapper .slider .slick-dots {
  bottom: 0;
}
.recruit-wrapper h2 {
  margin: 0 0 0 15px;
}
.recruit-wrapper .recruit-item {
  position: relative;
  width: 326px;
  height: 500px;
  margin: 20px auto 45px auto;
}
.recruit-wrapper .recruit-item .recruit-item__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/recruit-card.svg");
  z-index: 1;
}
.recruit-wrapper .recruit-item .recruit-item__img {
  position: absolute;
  top: 41px;
  left: 52px;
  width: 222px;
  height: 222px;
  z-index: 0;
}
.recruit-wrapper .recruit-item .recruit-item__img img {
  width: 100%;
  height: 100%;
}
.recruit-wrapper .recruit-item .recruit-name,
.recruit-wrapper .recruit-item .recruit-enlistment,
.recruit-wrapper .recruit-item .recruit-rank,
.recruit-wrapper .recruit-item .recruit-mos,
.recruit-wrapper .recruit-item .fun-fact {
  text-align: right;
  position: absolute;
  width: 100%;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  padding-right: 8px;
}
.recruit-wrapper .recruit-item .recruit-name {
  bottom: 200px;
  left: 0;
  padding-left: 94px;
}
.recruit-wrapper .recruit-item .recruit-enlistment {
  bottom: 175px;
  left: 0;
  padding-left: 165px;
}
.recruit-wrapper .recruit-item .recruit-rank {
  bottom: 150px;
  left: 0;
  padding-left: 91px;
}
.recruit-wrapper .recruit-item .recruit-mos {
  text-align: left;
  bottom: 74px;
  left: 8px;
  height: 76px;
  padding-right: 18px;
  font-size: 16px;
  line-height: 26px;
  overflow: hidden;
}
.recruit-wrapper .recruit-item .recruit-mos span {
  padding-left: 70px;
}
.recruit-wrapper .recruit-item .fun-fact {
  text-align: center;
  bottom: 26px;
  left: 0;
  width: 100%;
  height: 20px;
  font-size: 16px;
  overflow: hidden;
}

.popup-video-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 3;
}
.popup-video-wrapper .popup-video-inner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.popup-video-wrapper .popup-video-inner-wrapper .fa-times {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 50px;
  color: #ffd530;
  z-index: 2;
}
.popup-video-wrapper .popup-video-inner-wrapper video {
  width: 100%;
  margin-top: 250px;
}

.mos-card-wrapper {
  text-align: center;
  width: 375px;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  background: linear-gradient(180deg, #ffd52e 0%, rgba(255, 255, 255, 0) 66%);
}
.mos-card-wrapper .card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #121212;
  font-weight: bold;
  width: 365px;
  height: 84px;
  margin: 0 auto;
  padding: 10px 25px;
  font-size: 18px;
  overflow: hidden;
}
.mos-card-wrapper .mos-card {
  position: relative;
  width: 365px;
  height: 365px;
  margin: 0 auto;
  background-size: 100% 100%;
  background-image: url("./images/mos-card.svg");
  border-radius: 10%;
  box-shadow: black 15px 25px 20px -20px;
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  /* Do an horizontal flip when you move the mouse over the flip box container */
}
.mos-card-wrapper .mos-card .flip-card {
  position: absolute;
  top: 37px;
  left: 37px;
  background-color: #121212;
  width: 292px;
  height: 293px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  /* This container is needed to position the front and back side */
  /* Position the front and back side */
  /* Style the front side (fallback if image is missing) */
  /* Style the back side */
}
.mos-card-wrapper .mos-card .flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-front,
.mos-card-wrapper .mos-card .flip-card .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-front {
  background-size: cover;
  background-position: center;
  border: solid #ffd530 3px;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-front .mos-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 100px;
  font-weight: bold;
  color: #ffd530;
  background-color: rgba(0, 0, 0, 0.2);
}
.mos-card-wrapper .mos-card .flip-card .flip-card-back {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: #121212;
  transform: rotateY(180deg);
  border: solid #ffd530 3px;
  overflow: hidden;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-back p {
  text-align: justify;
  font-size: 14px;
  color: #ffd530;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-back .mos-video-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffd530;
}
.mos-card-wrapper .mos-card .flip-card .flip-card-back .mos-video-wrapper video {
  height: 100%;
}
.mos-card-wrapper .mos-card .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

#pre-loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  background-image: url("./images/pre-loader.svg");
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 4;
}

.home-page-jumbotron {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 114px);
  overflow: hidden;
}
.home-page-jumbotron .jumbotron-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.home-page-jumbotron .jumbotron-overlay h1 {
  font-size: 40px;
  color: #ffd530;
}
.home-page-jumbotron video {
  height: 100%;
}

.email-request {
  text-align: center;
  padding: 20px 0;
  background-color: #bfb8ab;
}
.email-request p {
  font-weight: bold;
  margin-bottom: 10px;
}
.email-request input {
  text-align: center;
  border: none;
  width: 250px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.about-page {
  position: relative;
  min-height: 100vh;
  background-color: #121212;
}
.about-page .image {
  width: 100%;
  height: 230px;
  padding-top: 30px;
  background-image: url("./images/about_bg.svg");
  background-size: 100%;
  background-position: center;
}
.about-page .image img {
  width: 100%;
  height: 100%;
}
.about-page .bio {
  text-align: justify;
  padding: 15px;
  background-color: #121212;
  color: #bfb8ab;
}
.about-page .bio p {
  margin-bottom: 20px;
}
.about-page .bio p:last-of-type {
  margin-bottom: 0;
}

.mos-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("./images/mos_bg.svg");
}
.mos-page .mos-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px 0;
  padding: 50px 0;
}

@media (min-width: 830px) {
  .mos-page .mos-wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
    padding: 50px 0;
  }
}
@media (min-width: 1250px) {
  .mos-page .mos-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 50px;
    padding: 50px 0;
  }
}

/*# sourceMappingURL=index.css.map */
